<h1>Shouts</h1>

<%= form_for Shout.new do |f| %>
	Content: <%= f.text_field :content %>
	<%= f.submit %>
<% end %>

<h2>List of shouts</h2>
<ul>
	<%- Shout.all.each do |shout| %>
		<li> <%= shout.content %> </li>
	<% end %>
</ul>