<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <div class='row'>
      <div class='span6'>
        <h1>Hello World!</h1>
        <p>This is an example of a shouter application built with Ruby On Rails.</p>
        <p><a href="http://www.github.com/eltoob/shouterga" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
      <div class='span4'>
        <%=image_tag('ga.jpeg') %>
      </div>
    </div>
  </div>
</div>
<hr>

<footer>
  <p>Built by @elietoubiana for General Assembly</p>
  </footer>

</div>
